.cardFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags{
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}