$branco: #ffffff;
$laranja: #eeaa17;
$amarelo: #f3ea62;
$amarelo2: #e7f89b;
$bege: #f7c096;
$vermelho: #f2694a;
$preto: #000000;
$cinza: #e2e2e2;




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georama', sans-serif;
}
